@import "../scss/variables";
@import "../scss/components/nav";
@import "../scss/components/btn";
@import "../scss/components/profile-img";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
}

h1,
h2 {
  font-family: $header-font;
  font-weight: 400;
}

.logo {
  font-family: $logo-font;
  text-transform: uppercase;
  font-size: 2.25rem;
}
.logo:hover {
  color: $alternate;
}

.nav-link {
  font-family: $header-font;
  font-size: 1.5rem;
}

.navbar-collapse {
  justify-content: end;
}

.search-container {
  display: flex;
  background-color: #d9d9d9;
}

#search-form {
  width: 100%;
}

.search-input {
  max-width: 350px;
  margin: 5px;
}

.btn-primary {
  @include button-style(map-get($btn-colours, primary));
}
.btn-primary:hover {
  @include button-hover(map-get($btn-colours, primary));
}

.btn-secondary {
  @include button-style(map-get($btn-colours, secondary));
}
.btn-secondary:hover {
  @include button-hover(map-get($btn-colours, secondary));
}

.btn-alternate {
  @include button-style(map-get($btn-colours, alternate));
}
.btn-alternate:hover {
  @include button-hover(map-get($btn-colours, alternate));
}

.btn-search {
  margin: 5px;
}

.profile-img_container {
  margin: auto;
  @include profile-img-container(200px, 200px);
}

.profile-img {
  @extend .profile-img-ratio;
}
