//Fonts family
$logo-font: "Staatliches", Arial, Helvetica, sans-serif;
$header-font: "Orbitron", Arial, Helvetica, sans-serif;
$body-font: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
$input-color: #000000;
$primary: #eeeeee;
$dark: #3a4750;
$alternate: #d9d9d9;

$body-color: #ffffff;
$nav-link-color: yellow;
$nav-link-hover-color: yellow;
$link-color: yellow;
