//Fonts family
$logo-font: "Staatliches", Arial, Helvetica, sans-serif;
$header-font: "Orbitron", Arial, Helvetica, sans-serif;
$body-font: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
$primary: #3a4750;

$body-color: blue;
$nav-link-color: yellow;
$nav-link-hover-color: yellow;
$link-color: yellow;
